<h2>Contact List</h2>
<input type="text" ng-model="searchQuery" placeholder="Search contacts..." class="form-control mb-3">
<table>
    <thead>
        <tr>
            <th class="sortable" ng-click="sortBy('name')">
                Name
                <span ng-show="sortColumn === 'name'">
                    <span ng-show="!reverseSort">&#9650;</span>
                    <span ng-show="reverseSort">&#9660;</span>
                </span>
            </th>
            <th>Email</th>
            <th>Phone</th>
            <th>Category</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contacts | orderBy:sortColumn:reverseSort | filter:searchQuery">
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.category }}</td>
            <td>{{ contact.createdAt | date:'short' }}</td>
            <td>
                <button class="button button-edit" ng-click="goToEdit(contact.id)">Edit</button>
                <button class="button button-delete" ng-click="deleteContact(contact.id)">Delete</button>
            </td>
        </tr>

    </tbody>
</table>